@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --logo:#bb1414;
  --logolight:#635755;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--logolight);
  font-size: 1.0rem;
  letter-spacing: 2px;
  font-weight: normal;
  font-weight: 700;
  font-family: 'Frijole', cursive;
}
.title h1 span{
  color: var(--logo);
  text-transform: uppercase;
  font-size: 3rem;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form label{
  display: block;
  width: fit-content;
  font-size: 40px;
  color: var(--logo);
  border: 2px solid var(--logo);
  border-radius: 50%;
  line-height: .7;
  padding: 10px 15px;
  margin: 40px auto;
  cursor: pointer;
}
.output .file-name{
  text-align: center;
}
/* progress bar styles */
.progress-bar{
  height: 4px;
  background-color: var(--error);
  margin-top: 25px;
}

/* image grid styles */


/* modal styles */